@model InvoiceingProduct.Models.InvoiceModel

@{
    ViewData["Title"] = "CreateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateInvoice</h1>

<h4>InvoiceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="IdInvoice" class="control-label"></label>
                <input asp-for="IdInvoice" class="form-control" />
                <span asp-validation-for="IdInvoice" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
          
            @* <div class="form-group">
                <label asp-for="IdPurchase" class="control-label"></label>
                <input asp-for="IdPurchase" class="form-control" />
                <span asp-validation-for="IdPurchase" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceAmount" class="control-label"></label>
                <input asp-for="InvoiceAmount" class="form-control" />
                <span asp-validation-for="InvoiceAmount" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="PurchaseName" class="control-label"></label>
                @Html.DropDownList("IdPurchase",@ViewBag.PurchaseList,"","")
                @*<input asp-for="IdPurchase" class="form-control" />
                <span asp-validation-for="IdPurchase" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="TaxAmount" class="control-label"></label>
                <input asp-for="TaxAmount" class="form-control" />
                <span asp-validation-for="TaxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
